@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body::-webkit-scrollbar{
    width:15px;
    background-color: rgb(18, 18, 37);
}
body::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: orangered;
}
body{
    background-color:beige;
    margin:0;
    width: calc(100vw - 3px);
    overflow-x:hidden
}
.navigation{
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 29, 71);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;

}
.navigation a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightblue;
    display: block;
    transition: 0.3s;
    font-family: 'Edu VIC WA NT Beginner';
}
.navigation a:hover {
    color: orangered;
}
.openbtn {
    position: sticky;
    font-size: 50px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: orangered;
    padding: 10px 15px;
    border: none;
    transition: 0.5s;
    top: 0;
}
.openbtn:hover {
    /* background-color: #444; */
    color: lightblue;
}
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    /* transition: margin-right .5; */
    /* padding: 20px; */
    margin-right: 100px;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100vw - margin-left);
    /* padding: 50px; */
}
.hello{
    position: relative;
    left: 200px;
    font-size: 100px;
    font-family: 'Edu VIC WA NT Beginner';
    font-weight: strong;

    color: rgb(182, 159, 132);
}
.i-am{
    position: relative;
    left: 355px;
    font-size: 100px;
    font-family: 'Edu VIC WA NT Beginner';
    color: rgb(182, 159, 132);
}
.first-name{
    position: relative;
    padding-right:125;
    left: calc(100vw - 525px);
    margin-right: 30px;
    width: 400px;
    font-family: 'Fredoka One', cursive;
    font-size: 125px;
    color: rgb(183, 46, 8);
    height: 125px;
}
.last-name{
    position: relative;
    left: calc(100vw - 400px);
    font-family: 'Georgia';
    font-size: 75px;
    color: rgb(227, 126, 158);
    height: 70;
}
.skills-bg{
    color:lightpink;
    background-image:url("stare.jpg");
    background-position:center center;
    background-size: cover;
    height:300px;
    padding: 50px;
    margin-top:50px;
    width: 100vw;
}
.single-exp h1{
    font-size: 30px;
    font-family: "Georgia";
    margin-bottom: 0;
}
.single-exp h2{
    font-size: 25px;
    font-family: 'Edu VIC WA NT Beginner';
    margin-bottom: 0;
    margin-top: 0;
}
.single-exp h3{
    font-size: 20px;
    font-family: 'Edu VIC WA NT Beginner';
    margin-bottom: 0;
    margin-top: 1;
}
.single-exp li{
    font-size: 20px;
    font-family: "Helvetica";
    margin-bottom: 15px;
    color: rgb(18, 18, 37);
}
.all-exp{
    position: relative;
    margin: 100px 45px 100px 30px;
    /* margin-right: 50px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
    width: calc(100vw - margin-left);
    background-color: rgb(245, 245, 235);
    justify-content: center;

}
.exp-bg{
    position: absolute;
    font-size: 230px;
    top: -200px;
    left: -45px;
    bottom: 0;
    z-index: -1;
    color: lightblue;
}
#homeinst{
    transition: margin-left .5s;
}
#simplytut{
    transition: margin-left .5s;
}
.single-exp{
    position: relative;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* left: calc(); */
    justify-content: space-around;
    align-items: stretch;
}

.work-layout{
    width: 15vw
}
.list-layout{
    width: 60vw;
    padding-top: 25px;
}